body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffcccc, #cc99ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    width: 320px;
    padding: 20px;
    background-color: pink;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#display {
    width: 95%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    color: #F09EA7;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #C1EBC0;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

